.bookTrialTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 20px;
}

.bookTrialSubTitle {
  margin-bottom: 40px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
}

.imageTextContainer {
  display: flex;
  gap: 14px;
  .avatar {
    width: 44px;
    height: 44px;
    border-radius: 15px;
  }
}

.teacherInfoContainer {
  margin-bottom: 40px;
}
.teacherName {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  color: #8a8a89;
}
.teacherNameSurname {
  font-weight: 500;
  font-size: 16px;
}

.radioContainer {
  h2 {
    margin-bottom: 20px;
  }
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;

  input {
    display: none;
  }
}

.customRadio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
}

.radioDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

input:checked + .customRadio {
  border-color: #9fb7ce;

  .radioDot {
    background-color: #9fb7ce;
  }
}

.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding-left: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  margin-bottom: 18px;
}

input::placeholder {
  color: #121417;
}

.error {
  font-weight: 500;
  line-height: 1;
  font-size: 0.875rem;
  color: red;
}

.bookBtn {
  width: 100%;
  border-radius: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #f03f3b;

  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgba(240, 63, 59, 0.2);
  }
}

.lastInput {
  input {
    margin-bottom: 35px;
  }
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  label {
    line-height: 1;
    font-weight: 500;
    font-size: 0.875rem;
  }
}
