.favorites {
  padding-bottom: 100px;
}
.teacherList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
}

.clearFav {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
