@use "./reset" as *;

body {
  font-family: "Roboto", sans-serif;
  color: #f3f3f3;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  cursor: pointer;
  color: #fbfbfb;
}
