.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 64px;
  border-radius: 30px;
  position: relative;
  width: 556px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal {
  background: white;
  padding: 64px;
  border-radius: 30px;
  position: relative;
  width: 90%;
  max-width: 556px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal {
  scrollbar-width: 20px;
  scrollbar-color: #f03f3b transparent;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f03f3b;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #f03f3b;
  }
}
