.headerNav {
  position: relative;
  padding: 20px 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
  z-index: 10;
  overflow: hidden;
}
.fullWidth {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #f03f3b;
  color: white;
  z-index: 10;
}

.headerContent {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: white;
  text-decoration: none;
}

.navAndBtn {
  display: flex;
  align-items: center;
  gap: 92px;
  color: white;
}

.navList {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.linkWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.dot {
  position: absolute;
  bottom: -10px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transition: opacity 350ms ease;
  opacity: 0;
}

.active .dot {
  opacity: 1;
}

.btnContainer {
  display: flex;
  gap: 8px;
}

.btnContainer {
  display: flex;
  gap: 8px;

  .loginBtn {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 14px 39px;
    background: transparent;
    color: inherit;
  }

  .regBtn {
    border-radius: 30px;
    padding: 14px 40px;

    background: #f03f3b;
    color: white;
  }
}

.whiteTheme .btnContainer .regBtn {
  background: white;
  color: #f03f3b;
  border: 1px solid #f03f3b;
}
