.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 64px;
  margin-bottom: 32px;
}
.label {
  font-weight: 500;
  font-size: 14px;
  color: #8a8a89;
}
.svg {
  fill: #fbfbfb;
}

.customSelect::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  pointer-events: none;
  transform: translateY(-50%);
}

.arrow {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
}

.arrowUp {
  transform: rotate(180deg);
}

.customSelect {
  position: relative;
}

.selectButton {
  font-size: 18px;
  font-weight: 500;
  width: 226px;
  padding: 14px 18px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f03f3b;
  cursor: pointer;
  color: #fbfbfb;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrowUp {
  transform: rotate(180deg);
}

.dropdownList {
  width: 226px;
  position: absolute;
  margin-top: 5px;
  background: white;
  border: 1px solid #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  max-height: 272px;
  overflow-y: scroll;
  z-index: 10;
}

.dropdownList::-webkit-scrollbar {
  width: 8px;
}

.dropdownList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 8px solid #dadde1;
}
.dropdownItem {
  padding: 10px;
  padding-left: 18px;
  cursor: pointer;
  color: #8d929a;
  font-weight: 500;
  font-size: 18px;
}

.dropdownItem:hover {
  color: #101828;
}
