.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding-left: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  margin-bottom: 5px;
}

.lastInput {
  margin-bottom: 40px;
}

.label {
  position: relative;
}

.eyeIcon {
  color: #11101c;
  right: 22px;
  position: absolute;
  top: 39px;
}

input::placeholder {
  color: #121417;
}

.registerBtn {
  width: 100%;
  border-radius: 30px;
  background-color: #f03f3b;
  padding-top: 16px;
  padding-bottom: 16px;

  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgba(240, 63, 59, 0.2);
  }
}

.error {
  font-weight: 500;
  line-height: 1;
  font-size: 0.875rem;
  color: red;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  label {
    line-height: 1;
    font-weight: 500;
    font-size: 0.875rem;
  }
}
