.homePage {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 30px;
  background: #f03f3b;
}

.homePagePosition {
  position: relative;
  z-index: 1;
  height: 90vh;
}
.navAndBtn {
  display: flex;
  align-items: center;
  gap: 92px;
}

.headerNav {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 96px;
  padding-right: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
  .logo {
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
  }
}

.navList {
  display: flex;
  gap: 40px;
}

.btnContainer {
  display: flex;
  gap: 8px;

  .loginBtn {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 14px 39px;
  }

  .regBtn {
    border-radius: 30px;
    padding: 14px 40px;
    background: #f03f3b;
  }
}

.getStarted {
  display: flex;
  align-items: center;
  gap: 18px;
}

.heroSection {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  margin-left: 75px;
  height: 80vh;
}
.heroContent {
  z-index: 1;
  h1 {
    width: 530px;
    font-weight: 500;
    font-size: 70px;
    line-height: 100%;
    margin-bottom: 28px;
  }
  p {
    width: 100%;
    font-weight: 400;
    font-size: 28px;
    line-height: 107%;
    letter-spacing: -0.02em;
    margin-bottom: 64px;
  }
  .getStarted {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 18px 50px;
  }
}

.heroImage {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 699px;
  height: 100%;
  flex: 1;
  border-radius: 0 30px 30px 0;
  background-image: url("../../img/bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row-reverse;
  z-index: -1;
}

.nanniesBadge {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #fbfbfb;
  margin-right: 60px;
  margin-bottom: 40px;
  padding: 32px;
  border-radius: 20px;
}
.checkIcon {
  background: #f03f3b;
  border-radius: 20%;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.expNannie {
  p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(17, 16, 28, 0.5);
  }
  span {
    font-weight: 700;
    font-size: 24px;
    color: #11101c;
  }
}
